<template>
  <div id="NPSCloseTW">
    <hello-world></hello-world>
    <div style="padding-top:30px;">
      <a style="margin:32px 32px" href="https://vibank.standardchartered.com.tw/barrierfree/scb/nps_close"><button>回到SCMobile</button></a>
    </div>
    <div style="padding-top:30px;">
      <a style="margin:32px 32px" href="http://localhost:8080/scb/sso_login?PLCode=QWER123-ASDF456-ZXCV789"><button>回到SCMobile (MB)</button></a>
    </div>
    <div style="padding-top:30px;">
      <a style="margin:32px 32px" href="http://localhost:8080/scb/public/plLogin/QWER123-ASDF456-ZXCV789"><button>回到SCMobile (IB)</button></a>
    </div>
  </div>
</template>

<script>
import HelloWorld from '../../components/HelloWorld'
export default {
  name: 'NPSCloseTW',
  components: {
    HelloWorld
  }
}
</script>
