<template>
  <div id="NPSCloseEN">
    <hello-world></hello-world>
    <a href="https://www.sc.com/tw/scb/nps_close"><button>Back SCMobile</button></a>
    <br>
    <div style="padding-top:30px;">
      <a style="margin:32px 32px" href="http://localhost:8080/scb/sso_login?PLCode=QWER123-ASDF456-ZXCV789"><button>回到SCMobile (MB)</button></a>
    </div>
    <div style="padding-top:30px;">
      <a style="margin:32px 32px" href="http://localhost:8080/scb/public/plLogin/QWER123-ASDF456-ZXCV789"><button>回到SCMobile (IB)</button></a>
    </div>
  </div>
</template>

<script>
import HelloWorld from '../../components/HelloWorld'
export default {
  name: 'NPSCloseEN',
  components: {
    HelloWorld
  }
}
</script>
